
  <form [formGroup]="form" novalidate (ngSubmit)="login()">
    <mat-card>
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Phone Number" formControlName="telphone">
              <mat-error *ngIf="form.controls['telphone'].hasError('required')">
                Phone number is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="form.controls['telphone'].hasError('pattern')">
                Phone number can only contains <strong>numbers</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
    
        <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input type='password' matInput placeholder="Password" formControlName="password">
                <mat-error *ngIf="form.controls['password'].hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
        </div> 
      </mat-card-content>
      <mat-card-actions class='center'>
        <button mat-raised-button color="primary" type="submit" [disabled]='form.invalid'>Login</button>
      </mat-card-actions>
    </mat-card>
  </form>

