<form #f="ngForm" name="f">
    <mat-card *ngFor="let item of itemList; index as i" class="item-card">
        <mat-card-content>
        <div class="row">
            <div class="col">
                    <img width="200 px" height="200 px" src="{{item.imgUrl}}">
                    <table>
                        <tr>
                            <td>{{item.title}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>sales: {{item.sales}}</td>
                            <td>stock: {{item.stock}}</td>
                        </tr>
                        <tr>
                            <td>{{item.description}}</td>
                            <td>
                                <label for="amount_{{i}}">Amount: </label>
                                <input type="number" id="amount_{{i}}" name="amount_{{i}}" [(ngModel)]="amountList[i]" ngModel required min="1" max="99" value="1">
                            </td>
                        </tr>
                        <tr>
                            <td>{{item.price | currency}}</td>
                            <td><button type="button" (click)="buy(i)">Buy</button>
                            </td>
                        </tr>
                    </table>
                </div>
                </div>

        </mat-card-content>

        <mat-card-actions class='center'>
            </mat-card-actions>
    </mat-card>
</form>