<form #f="ngForm" name="f">
    <mat-card *ngFor="let item of itemList; index as i" class="item-card">
        <mat-card-content>
        <div class="row">
            <div class="col">
                    <img width="200 px" height="200 px" src="{{item.imgUrl}}">
                    <table>
                        <tr>
                            <td>{{item.title}}</td>
                            <td>
                                <p *ngIf="item.promoStatus === 1" style="color: red;">The promotion will start on {{item.startDate}}</p>
                                <p *ngIf="item.promoStatus === 2" style="color: red;">Now in promotion!</p>
                            </td>                            
                        </tr>
                        <tr>
                            <td>sales: {{item.sales}}</td>
                            <td>stock: {{item.stock}}</td>
                        </tr>
                        <tr>
                            <td>{{item.description}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>{{item.price | currency}}</td>
                            <td *ngIf="item.promoStatus === 2" style="color:red">Promo Price: {{item.promoPrice | currency}}</td>
                        </tr>
                        <tr>
                            <td>
                                <p *></p>
                                <p *ngIf="item.promoStatus === 2" ></p>
                            </td>
                            <td><button type="button" (click)="redirect(item.id)">Details</button>
                            </td>
                        </tr>
                    </table>
                </div>
                </div>

        </mat-card-content>

        <mat-card-actions class='center'>
            </mat-card-actions>
    </mat-card>
</form>